<nav class="nav flex-column">
  <a class="nav-link" routerLink="/profile/credentials">Credentials</a>  
  <a *ngIf="!companyProfile; else company" class="nav-link" routerLink="/profile/individual" routerLinkActive="active">Profile</a>
 
  <ng-template #company>
    <a class="nav-link" routerLink="/profile/company" routerLinkActive="active">Company profile</a>  
    <a class="nav-link" routerLink="/profile/company/jobs" routerLinkActive="active">Company's job postings</a>  
  </ng-template>
  </nav>