<!-- <div class="container col-md-6 offset-md-3 mt-5">


    <div class="card">

        <h4 class="card-header">Profile</h4>
        <div class="card-body"> -->

            <form class ="container" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class ="row g-3">     
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="firstName">First Name</label>
                        <input type="text" id="fistName" formControlName="firstName" class="form-control" placeholder="First name" />
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="lastName">Last Name</label>
                        <input type="text" formControlName="lastName" class="form-control" placeholder="First name" />
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label">Age</label>
                        <input type="text" formControlName="age" class="form-control" placeholder="Age" />
                    </div>

                    <div class="col-12 mb-3">
                    <button type="button" class="btn btn-outline-success mb-1" (click) ="addEducation()">Add education</button>
                    <ul class="list-group">
                        <li class="list-group-item" formArrayName="education"
                            *ngFor="let education of getformArray('education'); let i = index;">
                            <div [formGroupName]="i" class="row">
                                <div class="col-md-2">
                                    <input type="text" formControlName="startDate" class="form-control"
                                        id="educationStartDate" placeholder="Start Date" value="" required>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" formControlName="endDate" class="form-control"
                                        id="educationStartDate" placeholder="End date" value="" required>
                                </div>
                                <div class="col-md-4">
                                    <input type="text" formControlName="school" class="form-control"
                                        id="educationSchool" placeholder="School" value="" required>
                                </div>

                                <div class="col-md-1">
                                    <input type="text" formControlName="major" class="form-control" id="educationMajor"
                                        placeholder="Major" value="" required>
                                </div>
                                <div class="col-md-1">
                                     <select class="form-select col-2" aria-label="Degree">
                                    <option selected>Select major</option>
                                    <option *ngFor="let deg of eduDegrees" value="deg">{{deg}}</option>
                                     </select>
                                    </div>    
                                <div class="col-2">
                                    <button type="button" class="btn btn-outline-danger" (click) ="removeEducation(i)">Remove</button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <app-address-form class [addressForm]=" getSection('address') "></app-address-form>
                    <div>
                        <button class="btn btn-primary">
                            Save
                        </button>
                        <button class="btn">
                            Cancel
                        </button>
                    </div>
                </div>
                </div>
            </form>
        <!-- </div>


    </div>
</div> -->