
    <form class="row g-3"[formGroup]="addressForm">
        
            <div class="col-md-12 mb-3">
                <label class="form-label">Address line 1</label>
                <input type="text" formControlName="addressLine1" class="form-control" placeholder="Address line 1" />
            </div>
            <div class="col-md-12 mb-3">
                <label class="form-label">Address line 2</label>
                <input type="text" formControlName="addressLine2" class="form-control" placeholder="Address line 2" />
            </div>

            <div class="col-md-4 mb-3">
                <label class="form-label">City</label>
                <input type="text" formControlName="city" class="form-control" placeholder="City" />
            </div>
            <div class="col-md-4 mb-3">
                <label class="form-label">Country</label>
                <select formControlName="country" class="form-select"  (change)="onCountryChange($event)" aria-label="Country">
                    <option *ngFor="let c of countryList" [value]="c" [selected]="c===selectedCountry">{{c}}</option>
                    <!-- <option selected>{{selectedCountry}}</option> -->
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label class="form-label">Province</label>
                <select formControlName="country" class="form-select" (change)="onProvinceChange($event)"aria-label="Country">
                    <option *ngFor="let s of provinceList" [value]="s" [selected]="s===selectedProvince">{{s}}</option>
                    <!-- <option selected>{{selectedProvince}}</option> -->
                </select>
            </div>
            <div class="col-md-2 mb-3">
                <label class="form-label">Postal code</label>
                <input type="text" formControlName="postalCode" class="form-control" placeholder="Postal code" />
            </div>

        
    </form>
